@font-face {
  font-family: 'FontAwesome';
  src: url('../lib/font/font-awesome/fontawesome-webfont.eot?v=4.5.0');
  src: url('../lib/font/font-awesome/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../lib/font/font-awesome/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../lib/font/font-awesome/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../lib/font/font-awesome/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../lib/font/font-awesome/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
	background-color: #f2f2f2;
}

.reveal, .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
	color: #275e96;
}

.left-bar {
  height: 100%;
  width: 100%;
  position: absolute;
  /*background: #006fdc;*/
  z-index: 0;
}

.slides {
  width: 100% !important;
}

.reveal section img {
  background: none !important;
}

.slides > section {
  background: #f2f2f2;
  padding-left: 15% !important;
  padding-right: 15% !important;
  box-sizing: border-box;
}

.slides > section.no-background {
  background: none;
}

.slides > section.no-background  h1,
.slides > section.no-background  h2,
.slides > section.no-background  h3,
.slides > section.no-background  h4,
.slides > section.no-background  h5,
.slides > section.no-background  h6,
.slides > section.no-background  p,
.slides > section.no-background  i {
  color: white;
  text-shadow: black 1px 2px 2px;
}

.slides > section.no-background img {
  border: none;
  box-shadow: black 7px 7px 0px;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: 'Lato', sans-serif;
}

/*.left-bar-photo {
  height: 100%;
  background: url("../img/header-photo.png");
  width: 100%;
  filter: grayscale(100%);
  opacity: 0.48;
  background-position: center bottom;
  background-size: 160%;
}

.left-bar::before {
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background: url("../img/header-mosaic.png");
  opacity: 0.60;
}*/

.reveal .note.side-note {
  background: rgba(245, 236, 92, 0.4);
}


.reveal section img,
.reveal pre code {
	max-height: 500px;
}

.reveal figcaption {
	font-size: 0.86em;
	font-style: italic;
}

.reveal .slides section .fragment.highlight-green.visible {
  color: #5475c5;
	font-weight: bold;
}

i.fa {
	display: block;
	font-family: 'FontAwesome' !important;
	font-size: 1.6em;
	font-style: normal;
	line-height: 1.5;
}

.reveal .note {
	text-align: left;
	position: relative;
	display: block;
	padding: 1em 1em 1em 3.5em;
	margin: 1em 0em;
	font-style: italic;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
	border-radius: 5px;
}

.reveal h3.note {
	font-style: normal;
}

.reveal .note:before {
	position: absolute;
	font-family: 'FontAwesome' !important;
	font-size: 2em;
	font-style: normal;
	top: 50%;
	left: 0.45em;
	transform: translateY(-50%);
}

.reveal .side-note {
	background: rgba(255, 255, 255, 0.4);
}

.reveal .side-note:before {
	content: "\f08d";
	transform: translateX(0.1em) translateY(-50%) rotate(-30deg);
}

.reveal .question {
	background: rgba(0, 255, 0, 0.15);
}

.reveal .question:before {
	content: "\f059";
	transform: translateY(-50%) rotate(20deg);
}

.reveal .task {
	background: rgba(128, 0, 255, 0.15);
}

.reveal .task:before {
	content: "\f040";
}

.reveal .more {
	background: rgba(0, 128, 255, 0.15);
}

.reveal .more:before {
	content: "\f005";
}

.reveal .small-duck {
  width: 60px;
  height: 60px;
  background: url("../img/small-duck.png");
  position: absolute;
  z-index: 32;
  bottom: 6px;
  left: 20px;
  background-size: contain;
}

.reveal .footer {
	text-align: center;
	font-size: 1vw;
	position: absolute;
	left: 0px;
	bottom: 0px;
	z-index: 31;
  padding: 10px;

  width: 100%;
  background: #3b3b3b;
}

.reveal .footer a[rel='license'] + span {
  display: none;
  position: absolute;
  bottom: 36px;
  text-align: center;
  width: 80%;
  margin: 0 10%;
  background: #3b3b3b;
  padding: 10px 20px;
}
.reveal .footer a[rel='license']:hover + span { display: block; }
.reveal .footer a[rel='license'] + span:hover { display: block; }

code {
	background: rgba(255, 255, 255, 0.4);
	font-style: normal !important;
}

pre {
	padding: 0.5em;
}

.reveal ul.note li {
	list-style-type: none;
}

.help {
	position: fixed;
	top: 0;
	right: 0;
	padding: 1em;
	font-size: 24px;
	color: #999;
	z-index: 99999;
}

.help a,
.help a:visited,
.help a:hover,
.help a:focus {
	text-decoration: none;
	color: #999;
}

.help i.fa {
	line-height: 1;
}

.col-narrow {
	width: 45%;
	float: left;
}

.col-wide {
	width: 55%;
	float: left;
}
