@font-face {
  font-family: 'FontAwesome';
  src: url('../lib/font/font-awesome/fontawesome-webfont.eot?v=4.5.0');
  src: url('../lib/font/font-awesome/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../lib/font/font-awesome/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../lib/font/font-awesome/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../lib/font/font-awesome/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../lib/font/font-awesome/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.reveal section img {
	max-height: 500px;
}

.reveal figcaption {
	font-size: 0.86em;
	font-style: italic;
}

i.fa {
	font-family: 'FontAwesome' !important;
	font-size: 1.6em;
	font-style: normal;
	line-height: 1.5;
}

.reveal .note {
	text-align: left;
	position: relative;	
	display: block;
	padding: 1em 1em 1em 3.5em;
	margin: 1em 0em;
	font-style: italic;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
	border-radius: 5px;
}

.reveal h3.note {
	font-style: normal;
}

.reveal .note:before {
	position: absolute;
	font-family: 'FontAwesome' !important;
	font-size: 2em;	
	font-style: normal;
	top: 50%;
	left: 0.45em;
	transform: translateY(-50%);
}

.reveal .side-note {
	background: rgba(255, 255, 255, 0.4);	
}

.reveal .question {
	background: rgba(0, 255, 0, 0.15);
}

.reveal .question:before {
	content: "\f059";
	transform: translateY(-50%) rotate(20deg);
}

.reveal .task {
	background: rgba(128, 0, 255, 0.15);
}

.reveal .task:before {
	content: "\f040";
}

.reveal .more {
	background: rgba(0, 128, 255, 0.15);
}

.reveal .more:before {
	content: "\f005";
}

code {
	background: rgba(255, 255, 255, 0.4);		
	font-style: normal !important;
}

pre {
	padding: 0.5em;
}